:host /deep/ .cell-custom {
    line-height: 60px;
    font-size: 16px;
}
.header-red{
    background: url('../../assets/images/headers/red.svg')
}
.header-blue{
    background: url('../../assets/images/headers/info-blue.svg')
}